# PRA GARANTIR QUE A INSTALACAO DAS DEPENDENCIAS VAI SER TRANQUILA, VAMOS FAZER UM AMBIENTE VIRTUAL. A VERSAO DO PYTHON UTILIZADA NESSE PROJETO E A 3.6.9.
# VAMOS USAR PYENV PQ ELE GERENCIA MTO BEM AS VERSOES DO PYTHON NO SISTEMA OPERACIONAL, SEM BAGUNCAR AS COISAS, E PQ ELE TEM UMA INTEGRACAO OTIMA COM O VIRTUALENV
# TUTORIAL PARA INSTALACAO DE UM AMBIENTE VIRTUAL COM A VERSAO 3.6.9 USANDO PYENV:
#
# 1) GARANTA QUE VC TEM AS DEPENDENCIAS PRA INSTALACAO DO PYENV (DEBIAN BASED)
# sudo apt-get install -y make build-essential libssl-dev zlib1g-dev libbz2-dev libreadline-dev libsqlite3-dev wget curl llvm libncurses5-dev libncursesw5-dev xz-utils tk-dev libffi-dev liblzma-dev python-openssl
#
# 2) INSTALE O PYENV
# curl https://pyenv.run | bash
#
# 3) ADICIONE AS LINHAS ABAIXO AO ~/.bashrc E REINICIE O COMPUTADOR
# export PATH="$HOME/.pyenv/bin:$PATH"
# eval "$(pyenv init -)"
# eval "$(pyenv virtualenv-init -)"
#
# 4) INSTALE A VERSAO 3.6.9 NO SEU SISTEMA USANDO O PYENV
# pyenv install 3.6.9
#
# 5) CRIE O AMBIENTE VIRTUAL
# pyenv virtualenv 3.6.9 venvAICOM
#
# 6) ATIVE O AMBIENTE, ATUALIZE O PIP E INSTALE AS DEPENDENCIAS DESSE ARQUIVO
# pyenv activate venvAICOM
# pip install --upgrade pip 
# pip install -r /caminho/para/esse/arquivo/requirements.txt
#
# PRONTO, E SO ISSO. PRA DESATIVAR O AMBIENTE VIRTUAL E SO RODAR pyenv deactivate
#
#
#--------------------------------------------------------------------------------
argon2-cffi==20.1.0
attrs==20.1.0
backcall==0.2.0
bleach==3.1.5
certifi==2020.6.20
cffi==1.14.2
cycler==0.10.0
decorator==4.4.2
defusedxml==0.6.0
entrypoints==0.3
importlib-metadata==1.7.0
ipykernel==5.3.4
ipython==7.16.1
ipython-genutils==0.2.0
ipywidgets==7.5.1
jedi==0.17.2
Jinja2==2.11.2
joblib==0.16.0
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.7
jupyter-console==6.2.0
jupyter-core==4.6.3
kiwisolver==1.2.0
MarkupSafe==1.1.1
matplotlib==3.3.1
mistune==0.8.4
nbconvert==5.6.1
nbformat==5.0.7
notebook==6.1.3
numpy==1.19.1
packaging==20.4
pandas==1.1.1
pandocfilters==1.4.2
parso==0.7.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==7.2.0
prometheus-client==0.8.0
prompt-toolkit==3.0.7
ptyprocess==0.6.0
pycparser==2.20
Pygments==2.6.1
pyparsing==2.4.7
pyrsistent==0.16.0
python-dateutil==2.8.1
pytz==2020.1
pyzmq==19.0.2
qtconsole==4.7.6
QtPy==1.9.0
scikit-learn==0.23.2
scipy==1.5.2
Send2Trash==1.5.0
six==1.15.0
sklearn==0.0
terminado==0.8.3
testpath==0.4.4
threadpoolctl==2.1.0
tornado==6.0.4
traitlets==4.3.3
wcwidth==0.2.5
webencodings==0.5.1
widgetsnbextension==3.5.1
zipp==3.1.0
