# PRA GARANTIR QUE A INSTALACAO DAS DEPENDENCIAS VAI SER TRANQUILA, VAMOS FAZER UM AMBIENTE VIRTUAL. A VERSAO DO PYTHON UTILIZADA NESSE PROJETO E A 3.9.1.
# VAMOS USAR PYENV PQ ELE GERENCIA MTO BEM AS VERSOES DO PYTHON NO SISTEMA OPERACIONAL, SEM BAGUNCAR AS COISAS, E PQ ELE TEM UMA INTEGRACAO OTIMA COM O VIRTUALENV
# TUTORIAL PARA INSTALACAO DE UM AMBIENTE VIRTUAL COM A VERSAO 3.9.1 USANDO PYENV:
#
# 1) GARANTA QUE VC TEM AS DEPENDENCIAS PRA INSTALACAO DO PYENV (DEBIAN BASED)
# sudo apt-get install -y make build-essential libssl-dev zlib1g-dev libbz2-dev libreadline-dev libsqlite3-dev wget curl llvm libncurses5-dev libncursesw5-dev xz-utils tk-dev libffi-dev liblzma-dev python-openssl
#
# 2) INSTALE O PYENV
# curl https://pyenv.run | bash
#
# 3) ADICIONE AS LINHAS ABAIXO AO ~/.bashrc
# export PATH="$HOME/.pyenv/bin:$PATH"
# eval "$(pyenv init -)"
# eval "$(pyenv virtualenv-init -)"
#
# 4) REINICIE O TERMINAL
# exec "$SHELL"
#
# 5) INSTALE A VERSAO 3.9.1 NO SEU SISTEMA USANDO O PYENV
# pyenv install 3.9.1
#
# 6) CRIE O AMBIENTE VIRTUAL
# pyenv virtualenv 3.9.1 venv_aicom
#
# 7) ATIVE O AMBIENTE, ATUALIZE O PIP E INSTALE AS DEPENDENCIAS DESSE ARQUIVO
# pyenv activate venv_aicom
# pip install --upgrade pip 
# pip install -r /caminho/para/esse/arquivo/requirements.txt
#
# PRONTO, E SO ISSO. PRA DESATIVAR O AMBIENTE VIRTUAL E SO RODAR pyenv deactivate
#--------------------------------------------------------------------------------
scikit-learn==0.24.2
joblib==1.0.1
jupyter==1.0.0
matplotlib==3.4.2
pandas==1.2.4
numpy==1.20.3
